.app-header {
    background-color: rgb(180, 183, 184);
    padding: 20px;
    color: rgb(236, 34, 34);
    text-align: center;
}

.app-header {
  /* ... (estilos existentes) ... */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  margin: 0;
  font-size: 1.5em;
}

nav {
  display: flex;
  gap: 20px;
}

nav a { /* <Link> se renderiza como una <a>, así que podemos estilizarla */
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
}

nav a:hover {
  border-bottom-color: #61dafb; /* Color azul de React */
}

.header-izquierdo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}
